<!doctype html>
    <title>Upload new File</title>
    <style>
    div {
      background-image: linear-gradient(white, green);
    }
    h1,h2 {
      font-family: verdana;
      text-shadow: 2px 2px 5px green;
    }
    body {
      background-image: url("https://avatars2.githubusercontent.com/u/46012524?s=400&u=fa7d3c854bb8658cfe13655a4aa6de3ef96b3000&v=4");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 320px 320px;
    }
    </style>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload name=Upload>
    </form>
    <br>
    <br>
    <h2>Show Local file Table</h2>
    <form method=post action="/show">
      <input type=submit value=show name=show>
    </form>