<!doctype html>
<title>Upload</title>
<style>
body {
  background-image: url("https://avatars2.githubusercontent.com/u/46012524?s=400&u=fa7d3c854bb8658cfe13655a4aa6de3ef96b3000&v=4");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 300px 300px;
}
div {
  background-image: linear-gradient(white, green);
}
h1,h2 {
  font-family: verdana;
  text-shadow: 2px 2px 5px green;
}
</style>
<h1>{{successres}}</h1>
<br>
<br>
<form method=post>
  <input type=submit value=back name=back>
</form>
